@model UpdateCompanyDto
@{
    ViewData["Title"] = "UpdateCompany";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Şirket Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Şirketi güncellemek için bilgileri eksiksiz doldurunuz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <label for="exampleInputName">Ad</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Adını Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputValuation">Değerleme</label>
                                <input type="text" class="form-control" id="exampleInputValuation" asp-for="Valuation" placeholder="Değerleme Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDateJoined">Katılım Tarihi</label>
                                <input type="date" class="form-control" id="exampleInputDateJoined" asp-for="DateJoined" placeholder="Katılım Tarihi Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputIndustry">Sektör</label>
                                <input type="text" class="form-control" id="exampleInputIndustry" asp-for="Industry" placeholder="Sektör Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputCity">Şehir</label>
                                <input type="text" class="form-control" id="exampleInputCity" asp-for="City" placeholder="Şehir Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputCountry">Ülke</label>
                                <input type="text" class="form-control" id="exampleInputCountry" asp-for="Country" placeholder="Ülke Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputContinent">Kıta</label>
                                <input type="text" class="form-control" id="exampleInputContinent" asp-for="Continent" placeholder="Kıta Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputYearFounded">Kuruluş Yılı</label>
                                <input type="number" class="form-control" id="exampleInputYearFounded" asp-for="YearFounded" placeholder="Kuruluş Yılı Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFunding">Finansman</label>
                                <input type="text" class="form-control" id="exampleInputFunding" asp-for="Funding" placeholder="Finansman Miktarını Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputSelectInvestors">Seçili Yatırımcılar</label>
                                <input type="text" class="form-control" id="exampleInputSelectInvestors" asp-for="Investors" placeholder="Yatırımcıları Giriniz (Virgülle Ayırın)">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </form>


                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>