<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    TreadHike Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>

                <li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Siteye Git</span></a></li>
                <li><a href="/Admin/AdminCompany/Index/" class="waves-effect"><i class="fas fa-company"></i><span>Şirket İşlemleri</span></a></li>
                <li><a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="fas fa-broom"></i><span>Banner Alanı</span></a></li>
                <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-info"></i><span>Hakkımızda</span></a></li>
                <li><a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>Yazar İşlemleri</span></a></li>
                <li><a href="/Admin/AdminBlog/Index/" class="waves-effect"><i class="fas fa-blog"></i><span>Blog İşlemleri</span></a></li>
                <li><a href="/Admin/AdminContact/Index/" class="waves-effect"><i class="fas fa-phone"></i><span>İletişim</span></a></li>
                <li><a href="/Admin/AdminFooterAddress/Index/" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span>Alt Adres</span></a></li>
                <li><a href="/Admin/AdminService/Index/" class="waves-effect"><i class="fas fa-anchor"></i><span>Hizmetler</span></a></li>
                <li><a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="fas fa-tv"></i><span>Sosyal Medya</span></a></li>
                <li><a href="/Admin/AdminTestimonial/Index/" class="waves-effect"><i class="fas fa-people-carry"></i><span>Referanslar</span></a></li>
                <li><a href="/Login/Index" class="waves-effect"><i class="fas fa-window-close"></i><span>Çıkış Yap</span></a></li>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>